@font-face {
  font-family: 'ygoMaj';
  src: url('/static/fonts/ygo_maj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ygoMin';
  src: url('/static/fonts/ygo_min.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ygoLight';
  src: url('/static/fonts/ygo_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ygoTitle';
  src: url('/static/fonts/ygo_title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  flex-direction: row;
  background: url("/static/assets/background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 1%;
  /* Border properties */
  border-width: 20px;
  border-style: solid;
  background-color: rgba(0, 0, 0);
  border-image: url('/static/assets/border.png') 30 round;
}
  

#header {
  background-color: rgb(201, 0, 0);
  display: none;
  justify-content: right;
}

#main {
  display: flex;
  height: 100%;
  margin:0;
  padding:0;
}

#inputZone {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cardsZone {
  box-sizing: border-box;
  padding: 1%;
  height: 90%;
  width: 95%;
  /* Border properties */
  border-width: 12px;
  border-style: solid;
  background: url("/static/assets/cards_background.jpeg");
  border-image: url('/static/assets/inner_border.jpeg') 30 round;
  margin: 0px;
  overflow: auto;
}

#gamemode {
  font-size: 40px;
}

#option {
  padding: 0;
  margin: 0;
  height: 98%;
  width: 30%;
  font-family: 'ygoMaj', sans-serif;
  background: url("/static/assets/option_texture.png");
  border-width: 10px;
  border-style: solid;
  border-image: url('/static/assets/option_border.png') 30 round;
  overflow: auto;
}

#timeInput {
  display: flex;
  flex-direction: row;
  width: 95%;
}

#validCards {
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  overflow: auto;
  padding-right: 5%;
}

#card {
  margin-right: -11%;
}

#card img{
  width: 60%;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card.expanded {
  transform: scale(2);
}

#rules {
  margin: 1%;
  font-family: 'ygoMin', sans-serif;
}

#rules h3 {
  font-weight: bold;
  text-align: left;
  margin: 0;
  font-size: 40px;
}

#rules div {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  word-spacing: 3px;
  font-family: 'ygoLight', sans-serif;
  margin-top: 5px;
}



#rejectedCards {
  padding: 0;
  display: flex;
}

#inputField {
  text-align: center;
  font-size: 50px;
  font-family: 'ygoTitle';
  font-weight: bold;
  width: 100%;
  margin: 0 auto 20px;
  background-color: transparent;
  box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  letter-spacing: 1px;
  word-spacing: 3px;
}

#inputField:hover {
  cursor: default;
}


#time {
  margin: 0 auto 20px;
  font-size: 40px;
  display: hidden;
  background: url('/static/assets/timeBackground.png');
  background-size: cover;
  color: yellow;
  font-style: italic;
  font-size: bold;
  border-radius: 5%;
  margin-left: 1%;
}


#score {
  font-size: 40px;
}
        /* Définition de l'animation de vibration */
@keyframes shake {
          0% { transform: translateX(0); }
          25% { transform: translateX(-20px); }
          50% { transform: translateX(20px); }
          75% { transform: translateX(-20px); }
          100% { transform: translateX(0); }
      }
/* Application de l'animation aux champs de saisie */
.shake {
    animation: shake 0.3s ease-in-out;
}

#leaderboard {
  text-align: center; /* Aligne le contenu à gauche */
  font-size: 25px;
}

#leaderboard {
  text-align: center; /* Aligne le contenu à gauche */
  font-size: 25px;
  margin: 0;
}

#source {
    position: relative; /* Pour positionner le lien "Source" par rapport à ce conteneur */
    text-align: center;
    margin-top: 50%;
}

#source a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

#source a:hover {
    border-bottom: 2px solid #555;
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  background-color: #4CAF50; 
  color: white; 
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  cursor: pointer; 
  width: 100%; 
  border-radius: 4px;
}

.modal-content button:hover {
  opacity: 0.8;
}

.gold {
  color: gold;
  text-shadow: 0 0 2px black; /* Ajoute une ombre noire de 2px */
}

.silver {
  color: silver;
  text-shadow: 0 0 2px black; /* Ajoute une ombre noire de 2px */
}

.bronze {
  color: #cd7f32; /* Couleur bronze */
  text-shadow: 0 0 2px black; /* Ajoute une ombre noire de 2px */
}
