<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Maxcard</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>


<body>
    <div id="header">
        <div id="importExport">
            <button id="importButton">Import</button>
            <button id="exportButton">Export</button>
        </div>
        <div id="language">
            <button id="importButton">English</button>
            <button id="exportButton">Français</button>
        </div>
    </div>

    <div id="main">
        <div id="inputZone">
            <div id='timeInput'>
                <input type="text" id="inputField" placeholder="Enter Card Name">
                <div id="time"></div>
            </div>
            <div id="cardsZone">
                <div id="output"></div>
                <div id="validCards"></div>
                <div id="rules">
                    <h3>[Rules of the Game]</h3>
                    <div>The objective of the game is to name as many Yu-Gi-Oh! cards as possible within a two-minute time limit.</div>
                    <div>Each card named earns a number of points equal to the length of its name.</div>
                    <div>Timer starts afer first input.</div>
                    <div>A card can only be named once.</div>
                    <div>After the two minutes have passed, players can enter their score, and the page will refresh for a new game.</div>        
                </div>
            </div> 
        </div>
        <div id="option">
            <div>
                <div id="gamemode">SCORE</div>
                <div id ="score"></div>
                <h2>Validated Cards <span id="validCount">0</span> / {{ cards|length }} :</h2>
                <div id="leaderboard">
                    <h2>Top 10 Players</h2>
                        {% for player in top_players %}
                        <div class="{% if forloop.counter == 1 %}gold{% elif forloop.counter == 2 %}silver{% elif forloop.counter == 3 %}bronze{% endif %}">
                            {{ player.username }}: {{ player.score }} points
                        </div>
                        {% endfor %}
                        <div>______________</div>
                </div>
                <div id="stats">Stats !!!!WIP!!!!</div>
                <div id="modes">Modes !!!!WIP!!!!</div>
            </div>
            <div id="source"><a href="https://github.com/Tuxiboule/maxcard">Source</a></div>
        </div>

    </div>
    <div id="score-modal" class="modal">
        <div class="modal-content">
            <label for="username">Enter your username:</label>
            <input type="text" id="username">
            <button id="submit-score">Submit Score</button>
        </div>
    </div>

<script src="{% static 'js/script.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputField = document.getElementById('inputField');
        const output = document.getElementById('output');
        const validCardsList = document.getElementById('validCards');
        const rejectedCardsList = document.getElementById('rejectedCards');
        const validCount = document.getElementById('validCount');
        const importButton = document.getElementById('importButton');
        const exportButton = document.getElementById('exportButton');
        const rules = document.getElementById('rules');
        
        inputField.focus();

        const cards = [
            {% for card in cards %}
                { url: "{{ card.IMG }}", name: "{{ card.NAME }}" },
            {% endfor %}
        ];

        initializeScript(inputField, validCardsList, validCount, importButton, exportButton, cards, rules);
    });
</script>

</body>
</html>
