<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Maxcard</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>


<body>
    <div id="header">
        <div id="importExport">
            <button id="importButton">Import</button>
            <button id="exportButton">Export</button>
        </div>
        <div id="language">
            <button id="importButton">English</button>
            <button id="exportButton">Français</button>
        </div>
    </div>

    <div id="main">
        <div id="inputZone">
            <div id='timeInput'>
                <input type="text" id="inputField" placeholder="Enter Card Name">
                <div id="time"></div>
            </div>
            <div id="cardsZone">
                <div id="output"></div>
                <div id="validCards"></div>
                <div id="rules">
                    <h3>[Rules of the Game]</h3>
                    <div>The objective of the game is to name as many Yu-Gi-Oh! cards as possible within a given time limit.</div>
                    <div>A player will be presented with a text input field where they can type the name of a Yu-Gi-Oh! card.</div>
                    <div>Upon typing the name of a card and pressing Enter, the card will be added to the list of validated cards if it exists.</div>
                    <div>Validated cards will be displayed on the screen.</div>
                    <div>If a card's name is not recognized or misspelled, it will not be added to the list and the input field may shake to indicate an error.</div>
                    <div>The game will continue until the time limit expires.</div>
                    <div>After the time limit, a modal will appear where the player can enter their username and submit their score.</div>
                    <div>The player's score is determined by the number of correctly named cards.</div>
                    <div>Once the score is submitted, the page may refresh to start a new game.</div>
                </div>
            </div> 
        </div>
        <div id="option">
            <div id="gamemode">All Cards Mode</div>
            <div id ="score"></div>
            <h2>Validated Cards <span id="validCount">0</span> / {{ cards|length }} :</h2>
            <div id="stats">Stats</div>
            <div id="leaderboard">
                <h2>Top 10 Players</h2>
                <ul>
                    {% for player in top_players %}
                        <div>{{ player.username }}: {{ player.score }} points</div>
                    {% endfor %}
                </ul>           
            </div>
            <div id="modes">Modes</div>
        </div>

    </div>
    <div id="score-modal" class="modal">
        <div class="modal-content">
            <label for="username">Enter your username:</label>
            <input type="text" id="username">
            <button id="submit-score">Submit Score</button>
        </div>
    </div>

<script src="{% static 'js/script.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputField = document.getElementById('inputField');
        const output = document.getElementById('output');
        const validCardsList = document.getElementById('validCards');
        const rejectedCardsList = document.getElementById('rejectedCards');
        const validCount = document.getElementById('validCount');
        const importButton = document.getElementById('importButton');
        const exportButton = document.getElementById('exportButton');
        const rules = document.getElementById('rules');

        const cards = [
            {% for card in cards %}
                { url: "{{ card.IMG }}", name: "{{ card.NAME }}" },
            {% endfor %}
        ];

        initializeScript(inputField, validCardsList, validCount, importButton, exportButton, cards, rules);
    });
</script>

</body>
</html>
